@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --zinc-black: #18181b;
  --zinc-white: #f4f4f5;
  --zinc-softWhite: #c5c5c9;
  --zinc-gray: #71717a;
  --zinc-note: #26262b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--zinc-black);
}

header {
  border-bottom: 1px solid var(--zinc-gray);
  padding: 24px 0;
}

.navigation {
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.navigation__brand {
  font-size: 1rem;
}

.navigation__brand a {
  color: var(--zinc-white);
  text-decoration: none;
}

main {
  margin-bottom: 28px;
  padding: 0 12px;
  max-width: 1200px;
  margin: 40px auto;
}

.page__top {
  margin: auto;
  margin-bottom: 40px;
  max-width: 640px;
}

.page__top__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page__top__title {
  color: var(--zinc-white);
}

.plus-icon {
  color: var(--zinc-black);
  background-color: white;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  transition: ease-in 0.1s;
  border: 1px solid var(--zinc-black);
}

.plus-icon:hover {
  background-color: var(--zinc-black);
  border: 1px solid var(--zinc-gray);
  color: var(--zinc-white);
}

.search-bar {
  display: inline-block;
  width: 100%;
  margin-top: 12px;
}

.search-bar input {
  font-size: 1rem;
  display: inline-block;
  width: 100%;
  background-color: var(--zinc-black);
  border: 1px solid var(--zinc-gray);
  height: 100%;
  padding: 12px;
  border-radius: 4px;
  color: var(--zinc-white);
  filter: drop-shadow(0px 4px 10px #0f0e0e);
}

.search-bar input::placeholder {
  color: var(--zinc-gray);
}

.note-input {
  max-width: 640px;
  margin: 0 auto;
}

.note-input h2 {
  color: var(--zinc-white);
  margin: 24px 0 12px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form > * {
  font-size: 0.9rem;
}

form input,
form textarea,
form button {
  padding: 12px;
  border: 1px solid var(--zinc-gray);
  background-color: transparent;
  color: var(--zinc-white);
  border-radius: 4px;
}

form button {
  cursor: pointer;
}

form button:hover {
  color: var(--zinc-softWhite);
}

form .word-counter {
  color: var(--zinc-softWhite);
  text-align: right;
}

.note-list {
  color: var(--zinc-white);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.note-list > h2 {
  margin: 24px 0 12px 0;
}

.note-list .empty {
  color: var(--zinc-softWhite);
}

.note-item {
  border: none;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  background-color: var(--zinc-note);
}

.note-item .note-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.note-item .note-wrap h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.note-item .body {
  line-height: 1.55rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.note-item .button-wrap {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.note-item button {
  border: 1px solid var(--zinc-gray);
  color: var(--zinc-white);
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.note-item button.Delete:hover {
  color: #db6161;
}

.note-item button.Archive:hover,
.note-item button.Unarchive:hover {
  color: #6fb9ff;
}

.note-item .date {
  color: var(--zinc-softWhite);
  font-size: 0.9rem;
}

.link {
  color: var(--zinc-white);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: ease-in 0.1s;
}

.link:hover {
  color: var(--zinc-softWhite);
}

@media (min-width: 640px) {
  .note-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  header .navigation {
    justify-content: space-between;
  }

  header a,
  header img {
    display: inline;
  }

  .note-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
